<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677069883828-m1tfgght8a5jol99gbf3so0fba1m44sm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677069883828-m1tfgght8a5jol99gbf3so0fba1m44sm</string>
	<key>API_KEY</key>
	<string>AIzaSyBngOCWds6KR_sPxz93HpxxMhh0RMyYYuA</string>
	<key>GCM_SENDER_ID</key>
	<string>677069883828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gemelos.srl</string>
	<key>PROJECT_ID</key>
	<string>gemelossrl-44c8c</string>
	<key>STORAGE_BUCKET</key>
	<string>gemelossrl-44c8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677069883828:ios:3e84f097a88052de6c4ae1</string>
</dict>
</plist>